.logo {
  font-family: "Acme", serif;
  color: #303f9f;
  font-size: 30px;
  font-weight: bolder;
  border: 2px solid #303f9f;
  border-radius: 5px;
  padding: 0 10px;
}

.quick-link {
  margin-top: 8px;
  color: #303f9f;
}

.navbar-light .navbar-nav .nav-link {
  color: #5174d1;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #303f9f;
}

button:focus {
  outline: 1px solid transparent;
}

.navbar-toggler {
  width: 30px;
  height: 25px;
  position: relative;
  margin: 5px 0px 0px 0px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  border: none;
}

.navbar-toggler span {
  display: block;
  position: absolute;
  height: 2px;
  width: 50%;
  background: #303f9f;
  opacity: 1;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.navbar-toggler.open span {
  margin-left: 3px;
  margin-top: -4px;
}

.navbar-toggler span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

.navbar-toggler span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(2) {
  top: 0px;
}

.navbar-toggler span:nth-child(3),
.navbar-toggler span:nth-child(4) {
  top: 10px;
}

.navbar-toggler span:nth-child(5),
.navbar-toggler span:nth-child(6) {
  top: 20px;
}

.navbar-toggler.open span:nth-child(1),
.navbar-toggler.open span:nth-child(6) {
  transform: rotate(45deg);
}

.navbar-toggler.open span:nth-child(2),
.navbar-toggler.open span:nth-child(5) {
  transform: rotate(-45deg);
}

.navbar-toggler.open span:nth-child(1) {
  left: 0px;
  top: 9px;
}

.navbar-toggler.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 9px;
}

.navbar-toggler.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

.navbar-toggler.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

.navbar-toggler.open span:nth-child(5) {
  left: 0px;
  top: 19px;
}

.navbar-toggler.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 19px;
}

.logoETC {
  font-family: "Acme", serif;
  color: #303f9f;
  font-size: 35px;
  font-weight: bolder;
  padding: 0 10px;
}

#highlight {
  font-family: "Raleway", Helvetica, Arial, "Hiragino Kaku Gothic Pro", sans-serif;
  color: #fff;
  background-color: #303f9f;
  padding: 60px 40px;
}

.highlightText {
  font-size: 50px;
  text-shadow: 0 0 5px #fff;
}

.highlightDesc1 {
  font-size: 25px;  
  text-shadow: 0 0 5px #fff;
}

.highlightDesc2 {
  font-family: "Raleway", Helvetica, Arial, "Hiragino Kaku Gothic Pro", sans-serif;
  font-size: 30px;  
  font-weight: 600;
  text-shadow: 0 0 5px #fff;
}

.headerText {
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 30px;
  color: #303f9f;
}

#product {
  font-family: "Raleway", Helvetica, Arial, "Hiragino Kaku Gothic Pro", sans-serif;
  color: #303f9f;
  background-color: #303f9f20;
}

#product .img-thumbnail {
  background: transparent;
  border-color: #303f9f;
}

.productText {
  font-size: 28px;
}

.productDesc {
  font-size: 20px;
}

#product hr {
  border: 0.5px solid #303f9f;
}

#weDo {
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: rgb(82, 78, 78);
  padding: 80px 40px;
}

#weDo h3 {
  padding: 10px 0;
}

.weDoIcon {
  font-size: 80px;
}

.weDoText {
  font-size: 19px;
  font-weight: 500;
  margin-top: -10px;
  margin-bottom: -1px;
}

.weDoDesc {
  font-size: 17px;
  font-weight: 300;
}

#pricing {
  width: 100%;
  height: auto;
  /* height: 100vh; */
  background: url(./img/bg.jpg) no-repeat 50% 50%;
  background-size: cover;
  font-family: "Raleway", Helvetica, Arial, "Hiragino Kaku Gothic Pro", sans-serif;
  color: #303f9f;
  padding: 80px 40px;
}

.price {
  border: 2px solid #303f9f;
  border-radius: 25px;
}

.priceText1 {
  font-size: 40px;
  padding: 33px 0px 0px 0px;
}

.priceText1Span1 {
  font-size: 25px;
}

.priceText1Span1 {
  font-size: 20px;
}

.priceText2 {
  font-size: 20px;
  font-weight: 500;
  margin-top: -20px;
  margin-bottom: -1px;
}

.priceDesc {
  font-size: 15px;
  font-weight: 200;
}

#faq {
  background-color: #303f9f50;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  padding: 80px 20px;
  color: #303f9f;
}

.faqText {
  font-family: "Raleway", Helvetica, Arial, "Hiragino Kaku Gothic Pro", sans-serif;
  font-size: 22px;
  font-weight: 500;
  padding-top: 20px;
}

.faqDesc {
  font-size: 17px;
  font-weight: 200;
  padding-left: 30px;
  margin-top: -5px;
}

@media (max-width:992px) {
  #highlight {
    padding: 40px 30px;
  }
  
  .highlightText {
    font-size: 30px;
  }
  
  .highlightDesc1 {
    font-size: 18px;
  }

  .highlightDesc2 {
    font-size: 22px;
  }

  .productText {
    font-size: 23px;
  }
  
  .productDesc {
    font-size: 16px;
  }

  .weDoIcon {
    font-size: 60px;
  }
  
  .priceText2 {
    font-size: 18px;
  }

  .priceDesc {
  font-size: 14px;
}
}

@media (max-width:576px) {
  #highlight {
    padding: 30px 15px;
  }

  .highlightText {
    font-size: 23px;
  }

  .highlightDesc1 {
    font-size: 15px;
  }

  .highlightDesc2 {
    font-size: 18px;
  }

  .headerDesc {
    padding-left: 5%;
  }

  .productText {
    font-size: 18px;
  }
  
  .productDesc {
    font-size: 14px;
  }

  .priceText1 {
    font-size: 20px;
  }

  .priceText2 {
    font-size: 16px;
  }
  
  .priceDesc {
  font-size: 12px;
}
}
